%section
  .row
    .columns.medium-9.medium-centered.large-6.large-centered
      %h2.heading.margin-vertical
        見知らぬ誰かと
        %br
        チャットを楽しめる
        %br
        Webサービス。
      %p.subheading.text-small
        %span.text-primary
          「チャットを開始する」
        をクリックすると、
        同じようにクリックした誰か一人との
        チャットが開始します。
        チャットの内容は公開されません。
        見知らぬ誰かと何を話すかは皆さんの自由です。

      .start-chat-link-container
        = link_to fa_icon('commenting', text: 'チャットを開始する'), rooms_path, class: 'button large'

      .service-explanation
        .row
          .columns.medium-6
            .media-object
              .media-object-section
                = fa_icon('comments-o', class: 'icon large')
              .media-object-section
                %h5.heading.text-small
                  誰かと話したい！そんなときに
                %p.subheading.text-small
                  暇なとき、さみしいとき、相談したいとき、
                  HChatなら「チャットを開始する」ボタンを
                  クリックするとすぐに話し相手が見つかるよ！

          .columns.medium-6
            .media-object
              .media-object-section
                = fa_icon('heart', class: 'icon large')
              .media-object-section
                %h5.heading.text-small
                  見ず知らずの人と意気投合しちゃうかも!?
                %p.subheading.text-small
                  自分とは違う年代、性別、職業、地域、趣味の人
                  など普段の生活では知り合わないような人と
                  話せて盛り上がるかも！？
