$color-beige: #f5f6f1
$color-light-black: #545454

body
  background-color: $color-beige

.logo
  padding-top: 1rem
  font-size: 2.5rem
  font-weight: bold
  color: $primary-color

.tagline
  padding-bottom: 1rem
  color: $color-light-black
  font-size: 0.7rem

.heading
  color: $color-light-black
  margin-bottom: 1rem

.subheading
  margin-bottom: 1rem

.service-explanation
  .heading
    color: $primary-color
    margin-bottom: 1rem
  .icon.large
    font-size: 2rem
    color: $primary-color

.text-primary
  color: $primary-color

.text-small
  font-size: 0.8rem

.padded
  padding: 1rem 0

.rounded
  border-radius: 4px

.link-container
  margin-top: 1rem

.start-chat-link-container
  margin: 2rem 0

.message
  margin-bottom: 0.5rem
  padding: 0.75rem 0
  .body
    padding: 0.75rem 1rem
    color: $white

  &.mine
    text-align: right
    .body
      background-color: $primary-color
      &.message-tip
        position: relative
        &:before
          content: ''
          position: absolute
          border-top: 14px solid transparent
          border-bottom: 14px solid transparent
          border-right: 14px solid $primary-color
          top: 22px
          right: 0

  &.not-mine
    .body
      background-color: $secondary-color
      &.message-tip
        position: relative
        &:before
          content: ''
          position: absolute
          border-top: 14px solid transparent
          border-bottom: 14px solid transparent
          border-left: 14px solid $secondary-color
          top: 22px
          left: 0

.input-group-label
  background-color: $secondary-color
  .fa
    color: $white

.chat-text-area, .button.chat-submit-button
  height: 5rem

.form-container
  margin: 1rem 0 2rem
