$color-beige: #f5f6f1
$color-light-black: #545454

body
  background-color: $color-beige

.logo
  font-size: 2rem
  font-weight: bold
  color: $primary-color

.heading
  color: $color-light-black
  margin-bottom: 1rem

.subheading
  margin-bottom: 1rem

.service-explanation
  .heading
    color: $primary-color
    margin-bottom: 1rem
  .icon.large
    font-size: 2rem
    color: $primary-color

.text-primary
  color: $primary-color

.text-small
  font-size: 0.8rem

.padded
  padding: 1rem 0

.rounded
  border-radius: 4px

.link-container
  margin-top: 1rem

.start-chat-link-container
  margin: 2rem 0

.message
  background-color: lighten($primary-color, 40%)
  border: 1px solid $primary-color
  margin: 0.5rem 0
  padding: 1rem
  &.mine
    background-color: lighten($secondary-color, 60%)
    border: 1px solid $secondary-color

.input-group-label
  background-color: $secondary-color
  .fa
    color: $white

.chat-text-area, .button.chat-submit-button
  height: 5rem

.form-container
  margin: 1rem 0
